In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
csv_sms = pd.read_csv('/content/drive/MyDrive/sms_backup/sms_miso.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,8,41,54,55,67,77,92,95,98,99,104,105,109,110,113,114,115,118,120,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
csv_sms.shape

(14124, 124)

In [ ]:
#type(csv_sms)
csv_sms

In [ ]:
df_sms = csv_sms[['address', 'body', 'contact_name']]
df_sms

In [ ]:
df_sms.shape

(14124, 3)

In [ ]:
# 필터링1 : 저장된 번호와 주고받은 문자는 제외, 내용(body)이 NaN인 경우 제외
df_sms_1 = df_sms[df_sms['contact_name'].isnull() & df_sms['body'].notnull()]
print(df_sms_1.shape) 
df_sms_1

(229, 3)

,address,body,contact_name
7887,01052220770,한전단전담당입니다 요금수납 부탁드립니다,NaN
7888,01052220770,전화 확인이 늦어 죄송합니다. 바로 보내겠습니다.,NaN
7889,01052220770,감사합니다,NaN
7916,01047522025,탑클래스 에듀아이 입니다\n과외 면접 제의차 연락드립니다,NaN
7956,01055309570,안녕하세요 흥국생명 박은숙입니다\n어머님께서 최미소님 앞으로 다재다능어린이보험 가입...,NaN
...,...,...,...
8476,1062811005.0,네 알겠습니다. 감사합니다 :),NaN
8477,1062811005.0,안녕하세요. 가출원 출원번호통지서 및 통지서 잘 전달 받았습니다:) \n근데 출원번...,NaN
8478,1062811005.0,가출원 이미 진행되어 변경 어려우시면 본출원 출원서때 반영 부탁드립니다,NaN
8479,1062811005.0,바로 보정 가능합니다. 번거롭게 해드려 죄송합니다!,NaN
8480,1062811005.0,아닙니다. 감사합니다!!,NaN

In [ ]:
# 필터링2 : 개인정보 키워드 입력하여 해당 문자 제외
# 키워드 예시 : 본인이름, 전화번호, 지인이름, 은행이름, 통장번호, 생년월일, 집주소, 예전 집주소 등
df_sms_2 = df_sms_1[df_sms_1['body'].str.contains('키워드1|키워드2|키워드3')==False] # 키워드 부분 변경하기
df_sms_2

           address                                     body contact_name
7887   01052220770                    한전단전담당입니다 요금수납 부탁드립니다          NaN
7888   01052220770              전화 확인이 늦어 죄송합니다. 바로 보내겠습니다.          NaN
7889   01052220770                                    감사합니다          NaN
7916   01047522025          탑클래스 에듀아이 입니다\n과외 면접 제의차 연락드립니다          NaN
7957   01055309570              혹시 오늘은 통화 안되실까요???\n답 좀 주세요          NaN
...            ...                                      ...          ...
8475  1062811005.0                오늘 저희 직원이 보고드릴겁니다^^ 감사합니다          NaN
8476  1062811005.0                        네 알겠습니다. 감사합니다 :)          NaN
8478  1062811005.0  가출원 이미 진행되어 변경 어려우시면 본출원 출원서때 반영 부탁드립니다          NaN
8479  1062811005.0             바로 보정 가능합니다. 번거롭게 해드려 죄송합니다!          NaN
8480  1062811005.0                            아닙니다. 감사합니다!!          NaN

[205 rows x 3 columns]

In [ ]:
# 필터링3 : [익명화]개인 이름을 다른 이름(예:홍길동)으로 바꾸기, address 열과 contact_name 열은 더이상 사용 X
df_sms_3 = df_sms_2['body'].str.replace('최미소','홍길동')

In [ ]:
# 키워드 검색 (해당 키워드 포함하는 문자 있는지 확인하기 위함)
df_sms_2[df_sms_2['body'].str.contains('한전')]

          address                   body contact_name
7887  01052220770  한전단전담당입니다 요금수납 부탁드립니다          NaN

In [ ]:
df_sms_3

7887                      한전단전담당입니다 요금수납 부탁드립니다
7888                전화 확인이 늦어 죄송합니다. 바로 보내겠습니다.
7889                                      감사합니다
7916            탑클래스 에듀아이 입니다\n과외 면접 제의차 연락드립니다
7957                혹시 오늘은 통화 안되실까요???\n답 좀 주세요
                         ...
8475                  오늘 저희 직원이 보고드릴겁니다^^ 감사합니다
8476                          네 알겠습니다. 감사합니다 :)
8478    가출원 이미 진행되어 변경 어려우시면 본출원 출원서때 반영 부탁드립니다
8479               바로 보정 가능합니다. 번거롭게 해드려 죄송합니다!
8480                              아닙니다. 감사합니다!!
Name: body, Length: 205, dtype: object

In [ ]:
# 데이터프레임 개인 Gdrive 경로에 csv 파일로 저장
df_sms_3.to_csv("/content/drive/MyDrive/sms_backup/sms_preprocessed_miso.csv", header = False, index = False, encoding='utf-8-sig')

In [ ]:
# 필터링4 : 직접 데이터 보면서 미처 못지운 개인정보 있으면 지우기
# Gdrive에서 해당 csv 다운받고 Excel로 열어서 직접 확인하며 남아있는 개인정보는 '행 삭제'로 진행해주세요.
# 필터링 거치면 데이터가 많이 남지는 않을것 같아요. 그래도 개인정보는 삭제 또는 익명화 하신 뒤 보내주시는게 좋을 것 같습니다 :)